a p{
  visibility: hidden;
}

.text-box {
    font-family: 'Poppins', sans-serif;
    /* background-color: #81d4fa; */
    font-weight: bold;
    text-align: center;
    /* margin-left: 44vw;
    margin-top: 42vh; */
  }
  
  .button-color:link,
  .button-color:visited {
    text-transform: uppercase;
    text-decoration: none;
    /* padding: 15px 40px; */
    line-height : 42px;
    height: 42px;
    width: 42px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    /* position: absolute; */
  }
  
  .button-color:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .button-color:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* .button-color-white {
    background-color: #804444;
    color: white;
  } */
  
  .button-color::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  
  /* .button-color-white::after {
    background-color: #fff;
  } */
  
  .button-color:hover::after {
    /* transform: scaleX(1.4) scaleY(1.6); */
    opacity: 0;
  }
  
  .button-color-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
  }

  a.color {
    background: #FF5722; /* TBC */
  }
  
  a.selection {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  a.selection p {
    visibility: visible;
    /* color: #FF5722; */ /* TBC */
  }
  
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  