
.college div {
    padding-bottom: 28px;
}

.college {
    text-align: center;
}

.collegebutton {
    width: 25%;
    height: 75px;
    background-color: #FFFFFF;
    border-color: #5f1919;
    border-style: groove;
    border-width: thin;
    border-radius: 42px;
    cursor: pointer;
}

.collegebutton:hover {
    opacity: 0.9;
    box-shadow: -1px 1px 8px 8px #a88a74;
    transition: 0.4s;
  }

.shortform {
    font-size: 20px;
    font-weight: 700;
    color: #382323;
    cursor: pointer;
}

.fullname {
    font-size: 15px;
    font-weight: 50;
    color: #382323;
    cursor: pointer;
    margin-top: 30px;
}