@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

/* Resetting */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
    /* text-transform: uppercase; */    
}

nav {
    min-height: 70px;
}

nav .navbar-brand .logo {
    padding: 10px 15px;
    border-radius: 8px;
}

nav .navbar-brand .logo .h2 {
    margin: 0;
}

nav .navbar-brand .h4 {
    margin-bottom: 0px;
    font-weight: 900;
}

nav .navbar-brand .fs-6 {
    font-size: 0.88rem !important;
}

nav ul li {
    padding: 0 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: #333;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #4e2296;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #451296;
}

nav ul li a .cart {
    padding: 4px 6px;
    border-radius: 6px;
    position: relative;
    display: inline;
}

nav ul li a .cart::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ff5252;
    top: -1px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

#sidebar {
    padding: 15px 0px 15px 0px;
    border-radius: 10px;
}

#sidebar .h4 {
    font-weight: 500;
    padding-left: 15px;
}

#sidebar ul {
    list-style: none;
    margin: 0;
    padding-left: 0rem;
}

#sidebar ul :hover {
    background-color: #AB8262;
    cursor: pointer;
}

#sidebar ul li {
    padding: 10px 0;
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    border-left: 5px solid transparent;
}

#sidebar ul li.active {
    border-left: 5px solid #f2f2f2;
    background-color: #AB8262;
}

#sidebar ul li a {
    display: block;
}

#sidebar ul li a .fas,
#sidebar ul li a .far {
    color: #ddd;
}

#sidebar ul li a .link {
    color: #fff;
    font-weight: 500;
}

#sidebar ul li a .link-desc {
    font-size: 0.8rem;
    color: #ddd;
}

#main-content {
    padding: 30px;
    border-radius: 15px;
}

#main-content .h5,
#main-content .text-uppercase {
    font-weight: 600;
    margin-bottom: 0;
}

#main-content .h5+div {
    font-size: 0.9rem;
}

#main-content .box {
    padding: 10px;
    border-radius: 6px;
    width: 170px;
    height: 90px;
}

#main-content .box img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

#main-content .box .tag {
    font-size: 0.9rem;
    color: #000;
    font-weight: 500;
}

#main-content .box .number {
    font-size: 1.5rem;
    font-weight: 600;
}

.order {
    padding: 10px 30px;
    min-height: 150px;
}

.order .order-summary {
    height: 100%;
}

.order .blue-label {
    background-color: #aeaeeb;
    color: #0046dd;
    font-size: 0.9rem;
    padding: 0px 3px;
}

.order .green-label {
    background-color: #a8e9d0;
    color: #008357;
    font-size: 0.9rem;
    padding: 0px 3px;
}

.order .fs-8 {
    font-size: 0.85rem;
}

.order .rating img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.order .rating .fas,
.order .rating .far {
    font-size: 0.9rem;
}

.order .rating .fas {
    color: #daa520;
}

.order .status {
    font-weight: 600;
}

.order .btn.btn-primary {
    background-color: #fff;
    color: #AB8262;
    border: 1px solid #AB8262;
}

.order .btn.btn-primary:hover {
    background-color: #804444;
    color: #fff;
}

.order .progressbar-track {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.order .progressbar-track .progressbar {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0rem;
}

.order .progressbar-track .progressbar li {
    font-size: 1.5rem;
    border: 1px solid #333;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: #dddddd;
    z-index: 1;
    position: relative;
}

.order .progressbar-track .progressbar li.green {
    border: 1px solid #007965;
    background-color: #d5e6e2;
}

.order .progressbar-track .progressbar li::after {
    position: absolute;
    font-size: 0.9rem;
    top: 50px;
    left: 0px;
}

#tracker {
    position: absolute;
    border-top: 1px solid #bbb;
    width: 100%;
    top: 25px;
}

#step-1::after {
    content: 'Placed';
}

#step-2::after {
    content: 'Accepted';
    left: -10px;
}

#step-3::after {
    content: 'Packed';
}

#step-4::after {
    content: 'Shipped';
}

#step-5::after {
    content: 'Delivered';
    left: -10px;
}



/* Backgrounds */
.bg-purple {
    background-color: #804444;
}

.bg-light {
    background-color: #f0ecec !important;
}

.green {
    color: #007965 !important;
}

/* Media Queries */
@media(max-width: 1199.5px) {
    nav ul li {
        padding: 0 10px;
    }
}

@media(max-width: 500px) {
    .order .progressbar-track .progressbar li {
        font-size: 1rem;
    }

    .order .progressbar-track .progressbar li::after {
        font-size: 0.8rem;
        top: 35px;
    }

    #tracker {
        top: 20px;
    }
}

@media(max-width: 440px) {
    #main-content {
        padding: 20px;
    }

    .order {
        padding: 20px;
    }

    #step-4::after {
        left: -5px;
    }
}

@media(max-width: 395px) {
    .order .progressbar-track .progressbar li {
        font-size: 0.8rem;
    }

    .order .progressbar-track .progressbar li::after {
        font-size: 0.7rem;
        top: 35px;
    }

    #tracker {
        top: 15px;
    }

    .order .btn.btn-primary {
        font-size: 0.85rem;
    }
}

@media(max-width: 355px) {
    #main-content {
        padding: 15px;
    }

    .order {
        padding: 10px;
    }
}

.mb-4 {
    margin-bottom: 1.5rem!important;
}

hr {
    opacity: 100%;
}

/* My Profile Css */

body{
    background-color: #f2f2f2;
}

.profile{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid #7a6c52;
    padding: 7px;
    background: #7a6c52;
}

.button-edit {
    width: 283px;
    height: 34px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-left: 69%;
}
  
.button-edit:hover {
    background-color: #a5998c;
    box-shadow: 0px 15px 20px rgba(155, 150, 106, 0.4);
    transform: translateY(-7px);
}

.info-group {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.info-group label {
    margin-bottom: 8px;
    font-weight: bold;
}

.info-group p {
    margin: 0;
    padding: 5px 0;
    /* border-bottom: 1px solid #e0e0e0; */
}

.border-input{
    width: 283px;
    height: 34px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border-radius: 45px;
    /* box-shadow: 0px 8px 15px rgb(129 96 96 / 72%); */
    border: rgb(189, 143, 106);
    text-align: center;
    border-width: 3px;
}

input {
    font-family: 'MONTSERRAT', Tahoma, Verdana, sans-serif;
    font-size: 12px;
}
  
input[type=text], input[type=password] {
    padding: 0 10px;
    width: 300px;
    height: 46px;
    color: #404040;
    background: white;
    border: 2px solid;
    border-color: #8a6d3b;
    border-radius: 19px;
    
}
  
input[type=text]:focus, input[type=password]:focus {
    border-color: #d9c9ae;
    outline-color: #d9c9ae;
    outline-offset: 2;
}

/* My Address */
.address-section {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}

.customh2 {
    text-align: center;
    margin-bottom: 20px;
}

.address-card {
    border: 1px solid #e0e0e0;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    position: relative;
    /* padding-bottom: 125px; */
}

.address-card input[type="radio"] {
    margin-right: 10px;
}

.button-edit-address, .button-remove-address, .add-new {
    background-color: #e0e0e0;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

#btnEditAdd {
    position: absolute;
    bottom: 55px;
    right: 45px;
    width: 90px;
    Top: 13px;
}

#btndeleteAdd {
    position: absolute;
    bottom: 12px;
    right: 45px;
    width: 90px;
    Top: 56px;
}

.button-remove-address {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.button-add-new {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

textarea #address{
    font-family: 'MONTSERRAT', Tahoma, Verdana, sans-serif;
    font-size: 15px;
    margin: 4px;
    padding: 0 10px;
    color: #404040;
    background: white;
    border: 2px solid;
    border-color: #8a6d3b;
    border-radius: 15px;
}

textarea #newaddress {
    font-family: 'MONTSERRAT', Tahoma, Verdana, sans-serif;
    font-size: 15px;
    margin: 4px;
    padding: 0 10px;
    color: #404040;
    background: white;
    border: 2px solid;
    border-color: #8a6d3b;
    border-radius: 10px;
}